body {
  font-family: 'Open Sans', sans-serif;
  margin: 0px; }

.row {
  height: 100vh;
  min-height: 450px;
  text-align: center;
  display: inline-block;
  width: 100vw; }

#colorMenu {
  float: right;
  right: 6.69231vh;
  margin-right: 20px;
  position: fixed;
  list-style: none;
  margin-top: 5px; }

#colorMenu li {
  width: 6.69231vh; }

#colorMenu li a {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 100%;
  width: 6.69231vh;
  height: 6.69231vh;
  margin: 0.5vh 0 0;
  display: block; }

.header {
  font-size: 100px;
  text-transform: uppercase; }

h2 {
  font-size: 100px;
  text-align: center;
  text-rendering: optimizeLegibility; }
  @media all and (min-width: 1281px) {
    h2 {
      font-size: 150px; } }

.text-link {
  color: #2980B9; }

.text-link:hover {
  color: #3E5975; }

#superContainer {
  height: 100%;
  position: relative;
  -ms-touch-action: none; }
